#!/usr/bin/env python3

import os.path as osp
import rospkg
from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()

gen.add(
    name="process_noise_variance",
    paramtype=double_t,
    level=0,
    description="TODO",
    default=1.0,
    min=0.0,
    max=100.0,
)

exit(
    gen.generate(
        rospkg.get_package_name(__file__),
        "thrust_estimator",
        osp.splitext(osp.basename(__file__))[0],
    )
)
