<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="dummy_inertial">
    <inertial>
      <mass value="1e-9"/>
      <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="dummy_inertial_link" params="name">
    <link name="${name}">
      <!-- Set dummy inetial param for avoiding gazebo error -->
      <xacro:dummy_inertial/>
    </link>
  </xacro:macro>

</robot>
