<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find tobas_description)/urdf/components/common.xacro"/>

  <!-- Main multirotor link -->
  <xacro:macro name="multirotor_base_macro" params="robot_namespace
      mass
      body_width
      body_height
      use_mesh_file
      mesh_file
      *inertia">
    <link name="${robot_namespace}/base_link"></link>

    <joint name="${robot_namespace}/base_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="${robot_namespace}/base_link" />
      <child link="${robot_namespace}/base_link_inertia" />
    </joint>

    <link name="${robot_namespace}/base_link_inertia">
      <inertial>
        <mass value="${mass}" />
        <origin xyz="0 0 0" />
        <xacro:insert_block name="inertia" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <xacro:if value="${use_mesh_file}">
            <mesh filename="${mesh_file}" scale="1 1 1" />
          </xacro:if>
          <xacro:unless value="${use_mesh_file}">
            <box size="${body_width} ${body_width} ${body_height}"/>
          </xacro:unless>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="${body_width} ${body_width} ${body_height}" />
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <!-- Rotor joint and link -->
  <xacro:macro name="vertical_rotor" params="robot_namespace
      direction
      parent
      mass_rotor
      radius_rotor
      motor_number
      color
      use_own_mesh
      mesh
      *origin
      *inertia">
    <joint name="${robot_namespace}/rotor_${motor_number}_joint" type="continuous">
      <xacro:insert_block name="origin" />
      <axis xyz="0 0 1" />
      <parent link="${parent}" />
      <child link="${robot_namespace}/rotor_${motor_number}" />
    </joint>

    <link name="${robot_namespace}/rotor_${motor_number}">
      <inertial>
        <mass value="${mass_rotor}" />
        <xacro:insert_block name="inertia" />
      </inertial>
      <visual>
        <geometry>
          <xacro:if value="${use_own_mesh}">
            <mesh filename="${mesh}" scale="1 1 1" />
          </xacro:if>
          <xacro:unless value="${use_own_mesh}">
            <mesh filename="package://tobas_description/meshes/propeller_${direction}.dae" scale="${radius_rotor} ${radius_rotor} ${radius_rotor}" />
          </xacro:unless>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.005" radius="${radius_rotor}" />
        </geometry>
      </collision>
    </link>

    <gazebo reference="${robot_namespace}/rotor_${motor_number}">
      <material>Gazebo/${color}</material>
    </gazebo>
  </xacro:macro>

  <!-- Virtual frame for visualization -->
  <xacro:macro name="virtual_frame" params="parent name *origin">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <inertial>
        <mass value="1e-9"/>
        <inertia ixx="1e-9" ixy="0" ixz="0" iyy="1e-9" iyz="0" izz="1e-9"/>
      </inertial>
      <visual>
        <geometry>
          <box size="1e-3 1e-3 1e-3"/>
        </geometry>
        <material name="Red">
          <color rgba="1.0 0.0 0.0 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="1e-3 1e-3 1e-3"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

</robot>
