<launch>

  <arg name="nodelet" default="true"/>

  <node pkg="tobas_multirotor_takeoff" type="takeoff_action_server_node" name="takeoff_action_server" output="screen"/>

  <include file="$(find tobas_common_actions)/launch/wait_for_stillness.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

</launch>
