<launch>

  <!-- IMU Filter -->
  <node pkg="orientation_estimation_complement" type="orientation_estimator_node" name="orientation_estimator_complement" output="screen" required="true"/>

  <!-- State Estimator -->
  <node pkg="state_estimation_cascade" type="state_estimator_node" name="state_estimator_cascade" output="screen" required="true"/>

</launch>
