#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add(
    name="rotation_variance_grav",
    paramtype=double_t,
    level=0,
    description="TODO",
    min=1.,
    max=5000.,
)
gen.add(
    name="rotation_variance_geomag",
    paramtype=double_t,
    level=0,
    description="TODO",
    min=1.,
    max=5000.,
)
gen.add(
    name="acc_bias_noise_var_log10",
    paramtype=int_t,
    level=0,
    description="TODO",
    min=-12,
    max=0,
)
gen.add(
    name="gyro_bias_noise_var_log10",
    paramtype=int_t,
    level=0,
    description="TODO",
    min=-12,
    max=0,
)

exit(gen.generate("state_estimation_eskf", "state_estimator_eskf", "StateEstimationEskf"))
