#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("gravity_variance_exp", int_t, 0, "TODO", 0, -3, 3)

exit(gen.generate("state_estimation_cascade", "state_estimator_cascade", "StateEstimationCascade"))
