#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add(
    name="gravity_variance_exp",
    paramtype=int_t,
    level=0,
    description="TODO",
    min=-3,
    max=3,
)

exit(gen.generate("state_estimation_cascade", "state_estimator_cascade", "StateEstimationCascade"))
