Package: tobas
Maintainer: Masayoshi Dohi <masa0u0masa1215@gmail.com>
Architecture: armhf
Version: 2.0.0
Description: Tobas Flight Controller
Homepage: https://tobas-wiki-ja.readthedocs.io/
Depends: hostapd, dnsmasq, netfilter-persistent, iptables-persistent
