[Unit]
Description=Tobas Realtime Process
After=tobas_network_wait_online.service
PartOf=tobas_real.target

[Service]
Type=simple
EnvironmentFile=/etc/tobas/common.env
EnvironmentFile=/etc/tobas/config.env
Environment="ROS_AUTOMATIC_DISCOVERY_RANGE=LOCALHOST"
ExecStartPre=/bin/bash -c 'echo 4 | sudo tee /proc/irq/106/smp_affinity'  # I2C
ExecStartPre=/bin/bash -c 'echo 2 | sudo tee /proc/irq/117/smp_affinity'  # SPI0
ExecStartPre=/bin/bash -c 'echo 4 | sudo tee /proc/irq/118/smp_affinity'  # SPI1
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && source /opt/tobas/local_setup.bash && source /etc/tobas/colcon_ws/install/local_setup.bash && /opt/ros/jazzy/ros2cli/bin/ros2 launch ${TOBAS_CONFIG_PKG} real_realtime.launch.py'
Restart=no
CPUSchedulingPolicy=rr
CPUSchedulingPriority=95
CPUAffinity=1 2 3

[Install]
WantedBy=multi-user.target
