[Unit]
Description=Tobas HITL (Hardware in the Loop)
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/tobas/common.env
EnvironmentFile=/etc/tobas/config_pkg.env
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && source /opt/tobas/setup.bash && source /etc/tobas/colcon_ws/install/setup.bash && /opt/ros/jazzy/ros2cli/bin/ros2 launch ${TOBAS_CONFIG_PKG} hitl.launch.py'
Restart=no
CPUSchedulingPolicy=rr
CPUSchedulingPriority=90

[Install]
WantedBy=multi-user.target
