<launch>

  <arg name="nodelet" default="false"/>

  <include file="$(find tobas_real)/launch/sensors.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <include file="$(find tobas_real)/launch/motors.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <include file="$(find tobas_real)/launch/rcin_handler.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <include file="$(find tobas_real)/launch/time_reference_server.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

</launch>
