<launch>

  <arg name="nodelet" default="true"/>
  <arg name="delay" default="0"/>

  <include file="$(find tobas_real)/launch/sensors.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
    <arg name="delay" value="$(arg delay)"/>
  </include>

  <include file="$(find tobas_real)/launch/motors.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
    <arg name="delay" value="$(arg delay)"/>
  </include>

  <include file="$(find tobas_real)/launch/rc_input.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
    <arg name="delay" value="$(arg delay)"/>
  </include>

</launch>
