<launch>

  <arg name="nodelet" default="true"/>

  <arg name="node_name" value="motors_handler"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_real/MotorsHandlerNodelet nodelet_manager" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_real" type="motors_handler_node" name="$(arg node_name)" output="screen"/>
  </group>

</launch>
