<launch>



  <arg name="node_name" value="state_checker"/>

  <node if="$(arg nodelet)" pkg="nodelet" exec="nodelet" name="$(arg node_name)" args="load tobas_state_checker/StateCheckerNodelet nodelet_manager_low" output="screen"/>
  <node unless="$(arg nodelet)" pkg="tobas_state_checker" exec="state_checker_node" name="$(arg node_name)" output="screen"/>

</launch>
