#!/usr/bin/env python3

import os.path as osp
import rospkg
from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()

# Joint space control
gen.add(
    name="joint_stiffness",
    paramtype=double_t,
    level=0,
    description="Proportional gain for joint position control.",
    default=25.0,
    min=0.0,
    max=100.0,
)
gen.add(
    name="joint_damping",
    paramtype=double_t,
    level=0,
    description="Derivative gain for joint position control.",
    default=10.0,
    min=0.0,
    max=20.0,
)

# Task space control
gen.add(
    name="linear_stiffness",
    paramtype=double_t,
    level=0,
    description="Proportional gain for end effector position control.",
    default=25.0,
    min=0.0,
    max=100.0,
)
gen.add(
    name="angular_stiffness",
    paramtype=double_t,
    level=0,
    description="Proportional gain for end effector orientation control.",
    default=25.0,
    min=0.0,
    max=100.0,
)
gen.add(
    name="linear_damping",
    paramtype=double_t,
    level=0,
    description="Derivative gain for end effector position control.",
    default=10.0,
    min=0.0,
    max=20.0,
)
gen.add(
    name="angular_damping",
    paramtype=double_t,
    level=0,
    description="Derivative gain for end effector orientation control.",
    default=10.0,
    min=0.0,
    max=20.0,
)

exit(
    gen.generate(
        rospkg.get_package_name(__file__),
        "tobas_manipulation_effort",
        osp.splitext(osp.basename(__file__))[0],
    )
)
