#!/usr/bin/env python3

import os.path as osp
import rospkg
from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()

# Joint space control
gen.add(
    name="joint_time_constant",
    paramtype=double_t,
    level=0,
    description="This term represents the time it takes for the control system to follow a joint space position command.",
    default=0.3,
    min=0.01,
    max=1.0,
)

# Task space control
gen.add(
    name="linear_time_constant",
    paramtype=double_t,
    level=0,
    description="This term represents the time it takes for the control system to follow a task space position command.",
    default=0.3,
    min=0.01,
    max=1.0,
)
gen.add(
    name="angular_time_constant",
    paramtype=double_t,
    level=0,
    description="This term represents the time it takes for the control system to follow a task space orientation command.",
    default=0.3,
    min=0.01,
    max=1.0,
)

exit(
    gen.generate(
        rospkg.get_package_name(__file__),
        "tobas_manipulation_velocity",
        osp.splitext(osp.basename(__file__))[0],
    )
)
