<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="pre_arm_check_server"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_pre_arm_check/PreArmCheckServerNodelet nodelet_manager" output="screen" required="true"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_pre_arm_check" type="pre_arm_check_server_node" name="$(arg node_name)" output="screen" required="true"/>
  </group>

</launch>
