<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="pre_arm_check_server"/>

  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_pre_arm_check/PreArmCheckServerNodelet nodelet_manager_low" output="screen" required="true"/>
  <node unless="$(arg nodelet)" pkg="tobas_pre_arm_check" type="pre_arm_check_server_node" name="$(arg node_name)" output="screen" required="true"/>

</launch>
