<launch>

  <arg name="nodelet" default="false"/>
  <arg name="ground_truth" default="false"/>

  <arg name="node_name" value="thrust_estimator"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_mr_thrust_estimation/ThrustEstimatorNodelet nodelet_manager_medium" output="screen">
      <remap if="$(arg ground_truth)" from="odom" to="ground_truth/odom"/>
    </node>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_mr_thrust_estimation" type="thrust_estimator_node" name="$(arg node_name)" output="screen">
      <remap if="$(arg ground_truth)" from="odom" to="ground_truth/odom"/>
    </node>
  </group>

</launch>
