<launch>

  <arg name="nodelet" default="false"/>

  <arg name="battery_lpf_name" value="battery_lpf_throttle"/>
  <arg name="rcin_name" value="rcin_throttle"/>
  <arg name="euler_name" value="euler_throttle"/>
  <arg name="latency_name" value="latency_throttle"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg battery_lpf_name)" args="load tobas_topic_throttle/BatteryLPFThrottleNodelet nodelet_manager_low" output="screen" required="true"/>
    <node pkg="nodelet" type="nodelet" name="$(arg rcin_name)" args="load tobas_topic_throttle/RCInputThrottleNodelet nodelet_manager_low" output="screen" required="true"/>
    <node pkg="nodelet" type="nodelet" name="$(arg euler_name)" args="load tobas_topic_throttle/EulerThrottleNodelet nodelet_manager_low" output="screen" required="true"/>
    <node pkg="nodelet" type="nodelet" name="$(arg latency_name)" args="load tobas_topic_throttle/LatencyThrottleNodelet nodelet_manager_low" output="screen" required="true"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_topic_throttle" type="battery_lpf_throttle_node" name="$(arg battery_lpf_name)" output="screen" required="true"/>
    <node pkg="tobas_topic_throttle" type="rcin_throttle_node" name="$(arg rcin_name)" output="screen" required="true"/>
    <node pkg="tobas_topic_throttle" type="euler_throttle_node" name="$(arg euler_name)" output="screen" required="true"/>
    <node pkg="tobas_topic_throttle" type="latency_throttle_node" name="$(arg latency_name)" output="screen" required="true"/>
  </group>

</launch>
