<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="pwm_handler"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_navio_ros/PwmHandlerNodelet nodelet_manager_fast" output="screen" required="true"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_navio_ros" type="pwm_handler_node" name="$(arg node_name)" output="screen" required="true"/>
  </group>

</launch>
