<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="rcin_handler"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_navio_ros/RCInputHandlerNodelet nodelet_manager" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_navio_ros" type="rcin_handler_node" name="$(arg node_name)" output="screen"/>
  </group>

</launch>
