<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="time_reference_server"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_navio_ros/TimeReferenceServerNodelet nodelet_manager" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_navio_ros" type="time_reference_server_node" name="$(arg node_name)" output="screen"/>
  </group>

</launch>
