<launch>

  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find tobas_gcs)/config/logging.config"/>

  <node pkg="tobas_gcs" type="gcs_node.py" name="tobas_gcs" output="screen" required="true"/>

  <node pkg="fkie_master_discovery" type="master_discovery" name="master_discovery"/>
  <node pkg="fkie_master_sync" type="master_sync" name="master_sync"/>

</launch>
