<launch>

  <arg name="nodelet" default="false"/>
  <arg name="ground_truth" default="false"/>
  <arg name="fcu_url" default="udp://127.0.0.1:14550@14555"/>

  <arg name="controller_node_name" value="arducopter_controller"/>
  <arg name="param_server_node_name" value="arducopter_param_server"/>

  <!-- APM -->
  <!-- <include file="$(find mavros)/launch/apm.launch"> -->
  <include file="$(find tobas_mr_arducopter)/launch/apm.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="respawn_mavros" value="true"/>
  </include>

  <!-- sim_vehicle.py -->
  <node pkg="tobas_mr_arducopter" type="sim_vehicle_node.py" name="sim_vehicle" output="screen" required="true"/>

  <!-- Tobas-MAVROS Bridge -->
  <include file="$(find tobas_mavros_bridge)/launch/bridge.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- Controller -->  <!-- TODO: Use estimated odometry -->
  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg controller_node_name)" args="load tobas_mr_arducopter/ControllerNodelet nodelet_manager" output="screen" required="true">
    <remap from="odom" to="ground_truth/odom"/>
  </node>
  <node unless="$(arg nodelet)" pkg="tobas_mr_arducopter" type="controller_node" name="$(arg controller_node_name)" output="screen" required="true">
    <remap from="odom" to="ground_truth/odom"/>
  </node>

  <!-- Parameter Server -->
  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg param_server_node_name)" args="load tobas_mr_arducopter/ParamServerNodelet nodelet_manager" output="screen" required="true"/>
  <node unless="$(arg nodelet)" pkg="tobas_mr_arducopter" type="param_server_node" name="$(arg param_server_node_name)" output="screen" required="true"/>

  <!-- Dynamic Configuration -->
  <include file="$(find ardupilot_dynamic_configuration)/launch/dynamic_configuration.launch"/>

</launch>
