<launch>

  <arg name="drone_name"/>
  <arg name="node_params_path" default="$(find tobas_gui_teleop)/config/node_params.yaml"/>

  <group ns="$(arg drone_name)">
    <rosparam file="$(arg node_params_path)" command="load"/>
    <node pkg="tobas_gui_teleop" type="gui_teleop_node.py" name="gui_teleop" output="screen"/>
  </group>

</launch>
