<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:simple_transmission_velocity jnt_name="rmx52/joint1"/>
  <xacro:simple_transmission_velocity jnt_name="rmx52/joint2"/>
  <xacro:simple_transmission_velocity jnt_name="rmx52/joint3"/>
  <xacro:simple_transmission_velocity jnt_name="rmx52/joint4"/>
  <xacro:simple_transmission_position jnt_name="rmx52/gripper"/>
  <xacro:simple_transmission_position jnt_name="rmx52/gripper_sub"/>

</robot>
