[Desktop Entry]
Type=Application
Name=Setup Assistant
Icon=/usr/share/icons/tobas/icon_purple.png
Exec=/usr/bin/tobas_setup_assistant
Terminal=false
StartupNotify=true
