<robot name="truncated_octahedron">
    <material name="black">
        <texture/>
        <color rgba="0 0 0 1"/>
    </material>
    <material name="blue">
        <texture/>
        <color rgba="0 0 1 1"/>
    </material>
    <material name="orange">
        <texture/>
        <color rgba="1 0.423529 0.0392157 1"/>
    </material>
    <material name="red">
        <texture/>
        <color rgba="1 0 0 1"/>
    </material>
    <material name="white">
        <texture/>
        <color rgba="1 1 1 1"/>
    </material>
    <link name="base_link"/>
    <link name="battery">
        <inertial>
            <mass value="0.205"/>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <inertia ixx="5.10621e-05" ixy="0" ixz="0" iyy="0.000131422" iyz="0" izz="0.000122214"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <box size="0.077 0.035 0.042"/>
            </geometry>
            <material name="blue">
                <texture/>
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <box size="0.077 0.035 0.042"/>
            </geometry>
        </collision>
    </link>
    <link name="fmu">
        <inertial>
            <mass value="0.2"/>
            <origin xyz="0 0 0.014" rpy="0 -0 0"/>
            <inertia ixx="7.71333e-05" ixy="0" ixz="0" iyy="0.000148067" iyz="0" izz="0.000199067"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/tobas_t1.stl" scale="1 1 1"/>
            </geometry>
            <material name="red">
                <texture/>
                <color rgba="1 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.014" rpy="0 -0 0"/>
            <geometry>
                <box size="0.09 0.062 0.028"/>
            </geometry>
        </collision>
    </link>
    <link name="frame">
        <inertial>
            <mass value="0.875668"/>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <inertia ixx="0.02731" ixy="-1.176e-05" ixz="2.301e-05" iyy="0.02415" iyz="-3.35e-07" izz="0.02615"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/frame.stl" scale="1 1 1"/>
            </geometry>
            <material name="black">
                <texture/>
                <color rgba="0 0 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_0">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_1">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_2">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_3">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_4">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_5">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_6">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_7">
        <inertial>
            <mass value="0.086"/>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <inertia ixx="1.36095e-05" ixy="0" ixz="0" iyy="1.36095e-05" iyz="0" izz="1.8963e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/mt3508_580kv.stl" scale="1 1 1"/>
            </geometry>
            <material name="orange">
                <texture/>
                <color rgba="1 0.423529 0.0392157 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.012" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.021" length="0.024"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_0">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_ccw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_1">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_cw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_2">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_ccw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_3">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_cw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_4">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_cw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_5">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_ccw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_6">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_cw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <link name="propeller_7">
        <inertial>
            <mass value="0.011"/>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <inertia ixx="3.60593e-05" ixy="0" ixz="0" iyy="3.60593e-05" iyz="0" izz="7.18547e-05"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 -0 0"/>
            <geometry>
                <mesh filename="file:///home/dohi/colcon_ws_tobas/src/tobas/tobas_example_packages/tobas_truncated_octahedron.TBS/tobas_truncated_octahedron_config/meshes/phantom3_0945_ccw.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white">
                <texture/>
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.006" rpy="0 -0 0"/>
            <geometry>
                <cylinder radius="0.1143" length="0.012"/>
            </geometry>
        </collision>
    </link>
    <joint name="battery_joint" type="fixed">
        <origin xyz="0 0 -0.06" rpy="1.5708 -0 0"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="battery"/>
    </joint>
    <joint name="fmu_joint" type="fixed">
        <origin xyz="0 0 0.0425" rpy="0 -0 0"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="fmu"/>
    </joint>
    <joint name="frame_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 -0 0"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="frame"/>
    </joint>
    <joint name="motor_0_joint" type="fixed">
        <origin xyz="0.0984382 0.0984382 0.0984382" rpy="9.54319e-17 0.95 0.785398"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_0"/>
    </joint>
    <joint name="motor_1_joint" type="fixed">
        <origin xyz="-0.0984382 0.0984382 0.0984382" rpy="0 0.95 2.35619"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_1"/>
    </joint>
    <joint name="motor_2_joint" type="fixed">
        <origin xyz="-0.0984382 -0.0984382 0.0984382" rpy="9.54319e-17 0.95 -2.35619"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_2"/>
    </joint>
    <joint name="motor_3_joint" type="fixed">
        <origin xyz="0.0984382 -0.0984382 0.0984382" rpy="9.54319e-17 0.95 -0.785398"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_3"/>
    </joint>
    <joint name="motor_4_joint" type="fixed">
        <origin xyz="0.0984382 0.0984382 -0.0984382" rpy="3.14159 0.95 -2.35619"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_4"/>
    </joint>
    <joint name="motor_5_joint" type="fixed">
        <origin xyz="-0.0984382 0.0984382 -0.0984382" rpy="3.14159 0.95 -0.785398"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_5"/>
    </joint>
    <joint name="motor_6_joint" type="fixed">
        <origin xyz="-0.0984382 -0.0984382 -0.0984382" rpy="3.14159 0.95 0.785398"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_6"/>
    </joint>
    <joint name="motor_7_joint" type="fixed">
        <origin xyz="0.0984382 -0.0984382 -0.0984382" rpy="3.14159 0.95 2.35619"/>
        <axis xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="motor_7"/>
    </joint>
    <joint name="propeller_0_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_0"/>
        <child link="propeller_0"/>
    </joint>
    <joint name="propeller_1_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_1"/>
        <child link="propeller_1"/>
    </joint>
    <joint name="propeller_2_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_2"/>
        <child link="propeller_2"/>
    </joint>
    <joint name="propeller_3_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_3"/>
        <child link="propeller_3"/>
    </joint>
    <joint name="propeller_4_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_4"/>
        <child link="propeller_4"/>
    </joint>
    <joint name="propeller_5_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_5"/>
        <child link="propeller_5"/>
    </joint>
    <joint name="propeller_6_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_6"/>
        <child link="propeller_6"/>
    </joint>
    <joint name="propeller_7_joint" type="continuous">
        <origin xyz="0 0 0.029" rpy="0 -0 0"/>
        <axis xyz="0 0 1"/>
        <parent link="motor_7"/>
        <child link="propeller_7"/>
    </joint>
</robot>
