#!/usr/bin/env python3

import os.path as osp
import rospkg
from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()

gen.add(
    name="linear_time_constant",
    paramtype=double_t,
    level=0,
    description="This term represents the time it takes for the control system to follow a position command.",
    default=0.1,
    min=0.01,
    max=1.0,
)
gen.add(
    name="angular_time_constant",
    paramtype=double_t,
    level=0,
    description="This term represents the time it takes for the control system to follow a orientation command.",
    default=0.1,
    min=0.01,
    max=1.0,
)

exit(
    gen.generate(
        rospkg.get_package_name(__file__),
        "task_space_controller_velocity",
        osp.splitext(osp.basename(__file__))[0],
    )
)
