<launch>

  <arg name="nodelet" default="false"/>

  <arg name="battery_lpf_name" value="battery_lpf"/>
  <arg name="euler_converter_name" value="matrix_euler_converter"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg battery_lpf_name)" args="load tobas_preprocess/BatteryLpfNodelet nodelet_manager" output="screen" required="true"/>
    <node pkg="nodelet" type="nodelet" name="$(arg euler_converter_name)" args="load tobas_preprocess/MatrixEulerConverterNodelet nodelet_manager" output="screen" required="true"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_preprocess" type="battery_lpf_node" name="$(arg battery_lpf_name)" output="screen" required="true"/>
    <node pkg="tobas_preprocess" type="matrix_euler_converter_node" name="$(arg euler_converter_name)" output="screen" required="true"/>
  </group>

</launch>
