<launch>

  <arg name="nodelet" default="false"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="position_controller" args="load tobas_multirotor_controller/PositionControllerNodelet nodelet_manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="velocity_controller" args="load tobas_multirotor_controller/VelocityControllerNodelet nodelet_manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="rotation_controller" args="load tobas_multirotor_controller/RotationControllerNodelet nodelet_manager" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_multirotor_controller" type="position_controller_node" name="position_controller" output="screen"/>
    <node pkg="tobas_multirotor_controller" type="velocity_controller_node" name="velocity_controller" output="screen"/>
    <node pkg="tobas_multirotor_controller" type="rotation_controller_node" name="rotation_controller" output="screen"/>
  </group>

</launch>
