<launch>

  <arg name="nodelet" default="true"/>

  <arg name="node_name" value="tobas_multirotor_controller"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_multirotor_controller/ControllerNodelet nodelet_manager" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_multirotor_controller" type="controller_node" name="$(arg node_name)" output="screen"/>
  </group>

</launch>
