<launch>

  <arg name="nodelet" default="true"/>
  <arg name="nodelet_manager" default="true"/>

  <group if="$(arg nodelet)">
    <!-- <node if="$(arg nodelet_manager)" pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/> -->
    <node pkg="nodelet" type="nodelet" name="wait_for_stillness_server" args="load tobas_common_actions/WaitForStillnessServerNodelet nodelet_manager" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_common_actions" type="wait_for_stillness_server_node" name="wait_for_stillness_server" output="screen"/>
  </group>

</launch>
