<?xml version="1.0"?>

<robot name="f550_np"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF Files -->
  <xacro:include filename="$(find tobas_description)/urdf/components/multirotor_base.xacro"/>

  <!-- Properties -->
  <xacro:property name="frame_radius" value="0.294"/>
  <xacro:property name="frame_height" value="0.056"/>
  <xacro:property name="frame_mass" value="1.615"/>
  <xacro:property name="propeller_diameter" value="${9*inch2meter}"/>
  <xacro:property name="propeller_radius" value="${propeller_diameter/2}"/>
  <xacro:property name="propeller_height" value="0.01"/>
  <xacro:property name="propeller_mass" value="0.011"/>
  <xacro:property name="propeller_origin_z" value="0.060597"/>
  <xacro:property name="rotor_tilt" value="${30*deg2rad}"/>

  <!-- Base Link -->
  <link name="base_link"/>

  <!-- Frame -->
  <joint name="frame_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="frame"/>
  </joint>
  <link name="frame">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://tobas_description/meshes/f550_np/frame.stl" scale="1e-3 1e-3 1e-3"/>
      </geometry>
      <xacro:insert_block name="black"/>
    </visual>
    <inertial>
      <mass value="${frame_mass}"/>
      <origin xyz="5.5e-4 1.04e-3 9.895e-3" rpy="0 0 0"/>
      <inertia ixx="3.720e-2" ixy="4.6919e-8" ixz="-6.275258e-6" iyy="3.725e-2" iyz="-5.9311674e-5" izz="7.102e-2"/>
    </inertial>
    <xacro:hexagonal_prism_collision side="${frame_radius}" height="${frame_height}" x0="0" y0="0" z0="${-frame_height/2}"/>
  </link>

  <!-- Propellers -->
  <xacro:macro name="propeller" params="index direction *origin">
    <joint name="propeller_${index}_joint" type="continuous">
      <xacro:insert_block name="origin"/>
      <axis xyz="0 0 1"/>
      <parent link="base_link"/>
      <child link="propeller_${index}"/>
    </joint>
    <link name="propeller_${index}">
      <visual>
        <geometry>
          <mesh filename="package://tobas_description/meshes/f550_np/phantom3_0945_${direction}.stl" scale="1e-3 1e-3 1e-3"/>
        </geometry>
        <xacro:insert_block name="white"/>
      </visual>
      <inertial>
        <mass value="${propeller_mass}"/>
        <origin xyz="0 0 ${propeller_height/2}" rpy="0 0 0"/>
        <xacro:cylinder_inertia radius="${propeller_radius}" length="${propeller_height}" mass="${propeller_mass}"/>
      </inertial>
      <collision>
        <origin xyz="0 0 ${propeller_height/2}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${propeller_radius}" length="${propeller_height}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:propeller index="0" direction="ccw">
    <origin xyz="0.242082 0.130702 ${propeller_origin_z}" rpy="${rotor_tilt} 0 ${30*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="1" direction="cw">
    <origin xyz="-0.007851 0.27500 ${propeller_origin_z}" rpy="${-rotor_tilt} 0 ${90*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="2" direction="ccw">
    <origin xyz="-0.234232 0.144298 ${propeller_origin_z}" rpy="${rotor_tilt} 0 ${150*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="3" direction="cw">
    <origin xyz="-0.234232 -0.144645 ${propeller_origin_z}" rpy="${-rotor_tilt} 0 ${210*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="4" direction="ccw">
    <origin xyz="-0.007851 -0.27500 ${propeller_origin_z}" rpy="${rotor_tilt} 0 ${270*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="5" direction="cw">
    <origin xyz="0.242082 -0.130355 ${propeller_origin_z}" rpy="${-rotor_tilt} 0 ${330*deg2rad}"/>
  </xacro:propeller>

</robot>
