<?xml version="1.0"?>

<robot name="f550_np_rmx52"
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF Files -->
  <xacro:include filename="$(find tobas_description)/urdf/components/multirotor_base.xacro"/>
  <xacro:include filename="$(find tobas_description)/urdf/components/rmx52/rmx52.xacro"/>

  <!-- Properties -->
  <xacro:property name="frame_mass" value="1.665"/>
  <xacro:property name="battery_x" value="0.155"/>
  <xacro:property name="battery_y" value="0.048"/>
  <xacro:property name="battery_z" value="0.042"/>
  <xacro:property name="battery_mass" value="0.725"/>
  <xacro:property name="propeller_diameter" value="${9*inch2meter}"/>
  <xacro:property name="propeller_radius" value="${propeller_diameter/2}"/>
  <xacro:property name="propeller_height" value="0.01"/>
  <xacro:property name="propeller_mass" value="0.011"/>
  <xacro:property name="propeller_origin_z" value="0.050597"/>
  <xacro:property name="rotor_tilt" value="${30*deg2rad}"/>

  <!-- Base Link -->
  <link name="base_link"/>

  <!-- Frame -->
  <joint name="frame_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="frame"/>
  </joint>
  <link name="frame">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://tobas_description/meshes/f550_np_rmx52/frame.stl" scale="1e-3 1e-3 1e-3"/>
      </geometry>
      <xacro:insert_block name="black"/>
    </visual>
    <inertial>
      <mass value="${frame_mass}"/>
      <origin xyz="0.486e-3 1.081e-3 -4.42e-3" rpy="0 0 0"/>
      <inertia ixx="3.962e-2" ixy="-2.133e-6" ixz="-2.014e-5" iyy="3.769e-2" iyz="-7.798e-5" izz="7.291e-2"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://tobas_description/meshes/f550_np_rmx52/frame.stl" scale="1e-3 1e-3 1e-3"/>
      </geometry>
    </collision>
  </link>

  <!-- Battery -->
  <joint name="battery_joint" type="fixed">
    <origin xyz="0 0 -0.023" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="battery"/>
  </joint>
  <link name="battery">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${battery_x} ${battery_y} ${battery_z}"/>
      </geometry>
      <xacro:insert_block name="black"/>
    </visual>
    <inertial>
      <mass value="${battery_mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <xacro:box_inertia x="${battery_x}" y="${battery_y}" z="${battery_z}" mass="${battery_mass}"/>
    </inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${battery_x} ${battery_y} ${battery_z}"/>
      </geometry>
    </collision>
  </link>

  <!-- Landing Gears -->
  <xacro:macro name="landing_gear" params="direction reverse suffix">
    <joint name="lg_${suffix}_joint" type="revolute">
      <origin xyz="0 ${direction*0.0825} -0.063" rpy="0 0 ${reverse*pi}"/>
      <parent link="base_link"/>
      <child link="lg_${suffix}"/>
      <axis xyz="1 0 0"/>
      <limit velocity="${pi/2}" effort="1" lower="0" upper="${75*deg2rad}"/>  <!-- TODO -->
      <dynamics damping="0" friction="0.01"/>
    </joint>
    <link name="lg_${suffix}">
      <visual>
        <geometry>
          <mesh filename="package://tobas_description/meshes/f550_np_rmx52/landing_gear.stl" scale="1e-3 1e-3 1e-3"/>
        </geometry>
        <xacro:insert_block name="black"/>
      </visual>
      <inertial>
        <mass value="0.072"/>
        <origin xyz="-0.046 0.211 0" rpy="0 0 0"/>
        <inertia ixx="7.171e-4" ixy="1.208e-4" ixz="-3.102e-9" iyy="2.613e-4" iyz="1.235e-8" izz="5.198e-4"/>
      </inertial>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tobas_description/meshes/f550_np_rmx52/landing_gear.stl" scale="1e-3 1e-3 1e-3"/>
        </geometry>
      </collision>
    </link>
    <xacro:simple_transmission_position jnt_name="lg_${suffix}_joint"/>
  </xacro:macro>

  <xacro:landing_gear direction="1" reverse="0" suffix="left"/>
  <xacro:landing_gear direction="-1" reverse="1" suffix="right"/>

  <!-- Propellers -->
  <xacro:macro name="propeller" params="index direction *origin">
    <joint name="propeller_${index}_joint" type="continuous">
      <xacro:insert_block name="origin"/>
      <axis xyz="0 0 1"/>
      <parent link="base_link"/>
      <child link="propeller_${index}"/>
    </joint>
    <link name="propeller_${index}">
      <visual>
        <geometry>
          <mesh filename="package://tobas_description/meshes/f550_np/phantom3_0945_${direction}.stl" scale="1e-3 1e-3 1e-3"/>
        </geometry>
        <xacro:insert_block name="white"/>
      </visual>
      <inertial>
        <mass value="${propeller_mass}"/>
        <origin xyz="0 0 ${propeller_height/2}" rpy="0 0 0"/>
        <xacro:cylinder_inertia radius="${propeller_radius}" length="${propeller_height}" mass="${propeller_mass}"/>
      </inertial>
      <collision>
        <origin xyz="0 0 ${propeller_height/2}" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${propeller_radius}" length="${propeller_height}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>

  <xacro:propeller index="0" direction="ccw">
    <origin xyz="0.242082 0.130702 ${propeller_origin_z}" rpy="${rotor_tilt} 0 ${30*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="1" direction="cw">
    <origin xyz="-0.007851 0.27500 ${propeller_origin_z}" rpy="${-rotor_tilt} 0 ${90*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="2" direction="ccw">
    <origin xyz="-0.234232 0.144298 ${propeller_origin_z}" rpy="${rotor_tilt} 0 ${150*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="3" direction="cw">
    <origin xyz="-0.234232 -0.144645 ${propeller_origin_z}" rpy="${-rotor_tilt} 0 ${210*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="4" direction="ccw">
    <origin xyz="-0.007851 -0.27500 ${propeller_origin_z}" rpy="${rotor_tilt} 0 ${270*deg2rad}"/>
  </xacro:propeller>
  <xacro:propeller index="5" direction="cw">
    <origin xyz="0.242082 -0.130355 ${propeller_origin_z}" rpy="${-rotor_tilt} 0 ${330*deg2rad}"/>
  </xacro:propeller>

  <!-- Robot Arm -->
  <joint name="rmx52_joint" type="fixed">
    <origin xyz="0.004 0 -0.0545" rpy="${pi} 0 0"/>
    <parent link="base_link"/>
    <child link="rmx52/link1"/>
  </joint>
  <xacro:rmx52/>

</robot>
