<robot name="matrice300">
  <link name="battery">
    <inertial>
      <mass value="2.7" />
      <origin xyz="0 0.061 -0.043" rpy="0 -0 0" />
      <inertia ixx="0.113519" ixy="0" ixz="0" iyy="0.093789" iyz="0" izz="0.0647302" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/battery.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_268961136">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0.061 -0.043" rpy="0 -0 0" />
      <geometry>
        <box size="0.137 0.1 0.178" />
      </geometry>
    </collision>
  </link>
  <link name="frame">
    <inertial>
      <mass value="2.4" />
      <origin xyz="0 0 0.06" rpy="0 -0 0" />
      <inertia ixx="0.1864" ixy="0" ixz="0" iyy="0.0962" iyz="0" izz="0.1802" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 1.57" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/frame.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_261524847">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.06" rpy="0 -0 0" />
      <geometry>
        <box size="0.26 0.15 0.16" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <box size="0.7 0.75 0.05" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 -0.15" rpy="0 -0 0" />
      <geometry>
        <box size="0.4 0.42 0.25" />
      </geometry>
    </collision>
  </link>
  <link name="motor_0">
    <inertial>
      <mass value="0.3" />
      <origin xyz="0.04 0.017 0" rpy="1.57 -0 0" />
      <inertia ixx="0.0061" ixy="0" ixz="0" iyy="0.0061" iyz="0" izz="0.00024" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 2.77556e-17 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/arm_tip_front.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_262592860">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.04 0.017 0" rpy="1.57 -2.77556e-17 -2.77556e-17" />
      <geometry>
        <cylinder radius="0.04" length="0.14" />
      </geometry>
    </collision>
  </link>
  <link name="motor_1">
    <inertial>
      <mass value="0.3" />
      <origin xyz="0.04 0.017 0" rpy="1.57 -0 0" />
      <inertia ixx="0.0061" ixy="0" ixz="0" iyy="0.0061" iyz="0" izz="0.00024" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 2.77556e-17 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/arm_tip_front.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_262592860">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.04 0.017 0" rpy="1.57 -2.77556e-17 -2.77556e-17" />
      <geometry>
        <cylinder radius="0.04" length="0.14" />
      </geometry>
    </collision>
  </link>
  <link name="motor_2">
    <inertial>
      <mass value="0.3" />
      <origin xyz="0.05 0.01 0" rpy="1.57 -0 0" />
      <inertia ixx="0.0048" ixy="0" ixz="0" iyy="0.0048" iyz="0" izz="0.00024" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/arm_tip_rear.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_264313010">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.05 0.01 0" rpy="1.57 -0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.12" />
      </geometry>
    </collision>
  </link>
  <link name="motor_3">
    <inertial>
      <mass value="0.3" />
      <origin xyz="0.05 0.01 0" rpy="1.57 -0 0" />
      <inertia ixx="0.0048" ixy="0" ixz="0" iyy="0.0048" iyz="0" izz="0.00024" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/arm_tip_rear.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_264313010">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.05 0.01 0" rpy="1.57 -0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.12" />
      </geometry>
    </collision>
  </link>
  <link name="propeller_0">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <inertia ixx="0.00945116" ixy="0" ixz="0" iyy="0.00945116" iyz="0" izz="0.0018769" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/propeller_ccw.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_265085838">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <cylinder radius="0.274" length="0.04" />
      </geometry>
    </collision>
  </link>
  <link name="propeller_2">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <inertia ixx="0.00945116" ixy="0" ixz="0" iyy="0.00945116" iyz="0" izz="0.0018769" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/propeller_ccw.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_265085838">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <cylinder radius="0.274" length="0.04" />
      </geometry>
    </collision>
  </link>
  <link name="propeller_1">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <inertia ixx="0.00945116" ixy="0" ixz="0" iyy="0.00945116" iyz="0" izz="0.0018769" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/propeller_cw.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_265085838">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <cylinder radius="0.274" length="0.04" />
      </geometry>
    </collision>
  </link>
  <link name="propeller_3">
    <inertial>
      <mass value="0.05" />
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <inertia ixx="0.00945116" ixy="0" ixz="0" iyy="0.00945116" iyz="0" izz="0.0018769" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <mesh filename="package://tobas_description/meshes/matrice300/propeller_cw.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="material_265085838">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.57 -0 0" />
      <geometry>
        <cylinder radius="0.274" length="0.04" />
      </geometry>
    </collision>
  </link>
  <link name="root">
    <inertial>
      <mass value="0" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <joint name="battery_joint" type="fixed">
    <origin xyz="0 0 0.002" rpy="1.57 0 1.57" />
    <axis xyz="0 0 0" />
    <parent link="frame" />
    <child link="battery" />
  </joint>
  <joint name="frame_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 0 0" />
    <parent link="root" />
    <child link="frame" />
  </joint>
  <joint name="motor_0_joint" type="fixed">
    <origin xyz="0.285 -0.367 0.002" rpy="1.57 0 -1.06" />
    <axis xyz="0 0 0" />
    <parent link="frame" />
    <child link="motor_0" />
  </joint>
  <joint name="motor_1_joint" type="fixed">
    <origin xyz="0.285 0.367 0.002" rpy="1.57 0 1.1" />
    <axis xyz="0 0 0" />
    <parent link="frame" />
    <child link="motor_1" />
  </joint>
  <joint name="motor_2_joint" type="fixed">
    <origin xyz="-0.306 0.319 0.002" rpy="1.57 0 2.2" />
    <axis xyz="0 0 0" />
    <parent link="frame" />
    <child link="motor_2" />
  </joint>
  <joint name="motor_3_joint" type="fixed">
    <origin xyz="-0.306 -0.319 0.002" rpy="1.57 0 -2.2" />
    <axis xyz="0 0 0" />
    <parent link="frame" />
    <child link="motor_3" />
  </joint>
  <joint name="propeller_0_joint" type="continuous">
    <origin xyz="0.037 -0.061 0" rpy="-0.05 1.57 -3.14" />
    <axis xyz="0 -1 0" />
    <parent link="motor_0" />
    <child link="propeller_0" />
  </joint>
  <joint name="propeller_2_joint" type="continuous">
    <origin xyz="0.037 -0.061 0" rpy="-0.05 1.57 -3.14" />
    <axis xyz="0 -1 0" />
    <parent link="motor_2" />
    <child link="propeller_2" />
  </joint>
  <joint name="propeller_1_joint" type="continuous">
    <origin xyz="0.037 -0.061 0" rpy="-0.05 1.57 -3.14" />
    <axis xyz="0 -1 0" />
    <parent link="motor_1" />
    <child link="propeller_1" />
  </joint>
  <joint name="propeller_3_joint" type="continuous">
    <origin xyz="0.037 -0.061 0" rpy="-0.05 1.57 -3.14" />
    <axis xyz="0 -1 0" />
    <parent link="motor_3" />
    <child link="propeller_3" />
  </joint>
</robot>
