<launch>

  <arg name="nodelet" default="false"/>
  <arg name="node_name" default="state_estimator_eskf"/>

  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load state_estimation_eskf/ErrorStateKalmanFilterNodelet nodelet_manager_high" output="screen" required="true"/>
  <node unless="$(arg nodelet)" pkg="state_estimation_eskf" type="eskf_node" name="$(arg node_name)" output="screen" required="true"/>

</launch>
