<launch>

  <arg name="nodelet" default="false"/>
  <arg name="node_name" default="state_estimator_eskf"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load state_estimation_eskf/ErrorStateKalmanFilterNodelet nodelet_manager_fast" output="screen" required="true"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="state_estimation_eskf" type="eskf_node" name="$(arg node_name)" output="screen" required="true"/>
  </group>

</launch>
