<launch>

  <arg name="nodelet" default="false"/>
  <arg name="ground_truth" default="false"/>
  <arg name="node_name" default="tobas_np_pid"/>

  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_np_pid/ControllerNodelet nodelet_manager_fast" output="screen">
    <remap if="$(arg ground_truth)" from="odom" to="ground_truth/odom"/>
  </node>
  <node unless="$(arg nodelet)" pkg="tobas_np_pid" type="controller_node" name="$(arg node_name)" output="screen">
    <remap if="$(arg ground_truth)" from="odom" to="ground_truth/odom"/>
  </node>

</launch>
