<launch>


  <arg name="ground_truth" default="false"/>
  <arg name="node_name" default="tobas_mr_mpc"/>

  <!-- Controller -->
  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_mr_mpc/ControllerNodelet nodelet_manager_high" output="screen">
    <remap if="$(arg ground_truth)" from="odom" to="ground_truth/odom"/>
  </node>
  <node unless="$(arg nodelet)" pkg="tobas_mr_mpc" type="controller_node" name="$(arg node_name)" output="screen">
    <remap if="$(arg ground_truth)" from="odom" to="ground_truth/odom"/>
  </node>

  <!-- Wind Estimator -->
  <include file="$(find tobas_mr_wind_estimation)/launch/wind_estimation.launch">
    <arg name ="nodelet" value="$(arg nodelet)"/>
    <arg name ="ground_truth" value="$(arg ground_truth)"/>
  </include>

  <!-- Thrust Estimator -->
  <include file="$(find tobas_mr_thrust_estimation)/launch/thrust_estimation.launch">
    <arg name ="nodelet" value="$(arg nodelet)"/>
    <arg name ="ground_truth" value="$(arg ground_truth)"/>
  </include>

</launch>
