<launch>

  <!-- Load environment configurations from YAML file to parameter server -->
  <rosparam file="$(find {{ pkg_name }})/config/environment.yaml" command="load"/>

  <!-- Bringup controller -->
  <rosparam file="$(find {{ pkg_name }})/config/controller.yaml" command="load"/>
  <include file="$(find {{ controller_pkg }})/launch/controller.launch"/>

  <!-- Bringup observer -->
  <rosparam file="$(find {{ pkg_name }})/config/observer.yaml" command="load"/>
  <include file="$(find {{ observer_pkg }})/launch/observer.launch"/>

</launch>
