<launch>

  <arg name="nodelet" default="true"/>

  <!-- Bringup controller -->
  <include file="$(find {{ pkg_name }})/launch/controller.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- Bringup observer -->
  <include file="$(find {{ pkg_name }})/launch/observer.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- For safety reasons, bringup RC teleoperation by default -->
  <include file="$(find {{ pkg_name }})/launch/rc_teleop.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- Bringup state checker -->
  <group ns="{{ drone_name }}">
    <rosparam file="$(find {{ pkg_name }})/config/state_checker.yaml" command="load"/>
    <include file="$(find tobas_state_checker)/launch/state_checker.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
    </include>
  </group>

</launch>
