<launch>

  <arg name="nodelet" default="true"/>
  <arg name="ground_truth" default="false"/>

  <!-- Launch nodelet manager -->
  <include if="$(arg nodelet)" file="$(find {{ pkg_name }})/launch/nodelet_manager.launch"/>

  <!-- Launch controller -->
  <include file="$(find {{ pkg_name }})/launch/controller.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
    <arg name="ground_truth" value="$(arg ground_truth)"/>
  </include>

  <!-- Launch observer -->
  <include file="$(find {{ pkg_name }})/launch/observer.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- Launch RC teleoperation -->
  <include file="$(find {{ pkg_name }})/launch/rc_teleop.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- Launch joint controller -->
  <include file="$(find {{ pkg_name }})/launch/joint_control.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
    <arg name="ground_truth" value="$(arg ground_truth)"/>
  </include>

  <group ns="{{ drone_name }}">
    <!-- Launch state checker -->
    <rosparam file="$(find {{ pkg_name }})/config/state_checker.yaml" command="load"/>
    <include file="$(find tobas_state_checker)/launch/state_checker.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
    </include>

    <!-- Launch sensor preprocessing modules -->
    <include file="$(find tobas_preprocess)/launch/preprocess.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
    </include>

    <!-- Launch pre-arm check server -->
    <include file="$(find tobas_pre_arm_check)/launch/pre_arm_check.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
    </include>

    <!-- Launch robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" value="1000"/>
    </node>
  </group>

</launch>
