<launch>

  <arg name="nodelet" default="false"/>
  <arg name="ground_truth" default="false"/>

  <group ns="{{ drone_name }}">
    <!-- Load parameters -->
    <rosparam file="$(find {{ pkg_name }})/config/controller.yaml" command="load"/>

    <!-- Bringup controller -->
    <include file="$(find {{ controller_pkg }})/launch/controller.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
      <arg name="ground_truth" value="$(arg ground_truth)"/>
      <arg name="node_name" value="controller"/>
    </include>

    <!-- Bringup takeoff and landing action servers at the same time -->
    <include file="$(find {{ takeoff_pkg }})/launch/takeoff_action_server.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
      <arg name="ground_truth" value="$(arg ground_truth)"/>
    </include>

    <include file="$(find {{ landing_pkg }})/launch/landing_action_server.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
      <arg name="ground_truth" value="$(arg ground_truth)"/>
    </include>
  </group>

</launch>
