<launch>

  <arg name="nodelet" default="true"/>
  <arg name="world_path" default="$(find tobas_gazebo)/worlds/basic.world"/>
  <arg name="debug" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="verbose" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="user_debug" default="false"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.3"/>
  <arg name="yaw" default="0.0" doc="Initial yaw angle in degrees."/>

  <arg name="pi" value="3.14159265359"/>
  <arg name="yaw_rad" value="$(eval arg('yaw') * arg('pi') / 180)"/>

  <!-- Launch nodelet manager -->
  <include if="$(arg nodelet)" file="$(find {{ pkg_name }})/launch/nodelet_manager.launch"/>

  <!-- Bringup a Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load environment configurations from YAML file to parameter server -->
  <rosparam file="$(find {{ pkg_name }})/config/environment.yaml" command="load"/>

  <group ns="{{ drone_name }}">
    <!-- Load drone configurations from TBSF file to parameter server -->
    <rosparam file="$(find {{ pkg_name }})/config/{{ drone_name }}.tbsf" command="load"/>

    <!-- Load the URDF into the ROS parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find {{ pkg_name }})/urdf/{{ drone_name }}.xacro' DEBUG:=$(arg user_debug)"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_{{ drone_name }}" output="screen" args="-param robot_description -urdf -model {{ drone_name }} -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw_rad)"/>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find {{ pkg_name }})/config/joint_control.yaml" command="load"/>

    <!-- Load the joint controllers -->
    <node pkg="controller_manager" type="spawner" name="controller_spawner" output="screen" args="{{ joint_controllers }}"/>
  </group>

  <!-- Bringup Tobas software -->
  <include file="$(find {{ pkg_name }})/launch/bringup.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

</launch>
