<launch>

  <arg name="nodelet" default="true"/>

  <include file="$(find {{ pkg_name }})/launch/bringup.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <group ns="{{ drone_name }}">
    <include file="$(find tobas_real)/launch/motors.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
    </include>
    <include file="$(find tobas_real)/launch/rc_input.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
    </include>
  </group>

</launch>
