<launch>

  <arg name="nodelet" default="true"/>
  <arg name="delay" default="0"/>

  <group ns="{{ drone_name }}">
    <include file="$(find tobas_real)/launch/motors.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
      <arg name="delay" value="$(arg delay)"/>
    </include>
  </group>

</launch>
