<launch>

  <arg name="nodelet" default="true"/>

  <group ns="{{ drone_name }}">
    <!-- Load parameters -->
    <rosparam file="$(find {{ pkg_name }})/config/observer.yaml" command="load"/>

    <!-- Bringup observer -->
    <include file="$(find {{ observer_pkg }})/launch/observer.launch">
      <arg name="nodelet" value="$(arg nodelet)"/>
    </include>
  </group>

</launch>
