<launch>

  <arg name="nodelet" default="true"/>

  <!-- Load common parameters -->
  <include file="$(find {{ pkg_name }})/launch/common_params.launch">
    <arg name="user_debug" value="false"/>
  </include>

  <!-- Launch hardware interfaces -->
  <include file="$(find {{ pkg_name }})/launch/hardware_interfaces.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- Bringup Tobas core software -->
  <include file="$(find {{ pkg_name }})/launch/bringup.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

  <!-- Bringup Tobas bridge -->
  <include file="$(find {{ pkg_name }})/launch/tobas_bridge.launch">
    <arg name="nodelet" value="$(arg nodelet)"/>
  </include>

</launch>
