<launch>

  <!-- Load environment configurations from YAML file to parameter server -->
  <rosparam file="$(find {{ pkg_name }})/config/environment.yaml" command="load"/>

  <group ns="{{ drone_name }}">
    <!-- Load drone configurations from TBSF file to parameter server -->
    <rosparam file="$(find {{ pkg_name }})/config/{{ drone_name }}.tbsf" command="load"/>

    <!-- Load the URDF into the ROS parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find {{ pkg_name }})/urdf/{{ drone_name }}.urdf'"/>

    <!-- Bringup the nodes required for connections between hardware and software -->
    <include file="$(find tobas_real)/launch/hardware_interfaces.launch"/>
  </group>

</launch>
