<launch>

  <arg name="nodelet" default="true"/>

  <include file="$(find {{ pkg_name }})/launch/common_params.launch">
    <arg name="user_debug" value="false"/>
  </include>

  <node pkg="{{ pkg_name }}" type="real_launcher_node.py" name="real_launcher" output="screen">
    <param name="nodelet" value="$(arg nodelet)"/>
  </node>

</launch>
