<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="tobas_bridge"/>

  <group ns="{{ drone_name }}">
    <group if="$(arg nodelet)">
      <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load TobasBridgeNodelet nodelet_manager" output="screen"/>
    </group>

    <group unless="$(arg nodelet)">
      <node pkg="{{ pkg_name }}" type="tobas_bridge_node" name="$(arg node_name)" output="screen"/>
    </group>
  </group>

</launch>
