<launch>



  <arg name="node_name" value="rotor_controller"/>

  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_rotor_controller/RotorControllerNodelet nodelet_manager_high" output="screen" required="true"/>
  <node unless="$(arg nodelet)" pkg="tobas_rotor_controller" type="rotor_controller_node" name="$(arg node_name)" output="screen" required="true"/>

</launch>
