<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="joint_space_controller_velocity"/>

  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_manipulation/VelocityControllerNodelet nodelet_manager" output="screen"/>
  <node unless="$(arg nodelet)" pkg="tobas_manipulation" type="velocity_controller_node" name="$(arg node_name)" output="screen"/>

</launch>
