<launch>

  <arg name="ground_truth" default="false"/>

  <node pkg="tobas_gazebo_ros" type="rotor_command_handler_node" name="gazebo_rotor_command_handler" output="screen">
    <remap if="$(arg ground_truth)" from="battery_filtered" to="ground_truth/battery"/>
  </node>
  <node pkg="tobas_gazebo_ros" type="joint_command_handler_node" name="gazebo_joint_command_handler" output="screen" required="true"/>

</launch>
