[Unit]
Description=High Priority Nodelet Manager
Requires=tobas_roscore.service
After=tobas_roscore.service
PartOf=tobas_nodelet_managers.target

[Service]
Type=simple
EnvironmentFile=/etc/tobas/common.env
EnvironmentFile=/etc/tobas/config_pkg.env
ExecStartPre=/etc/tobas/wait_for_rosmaster.sh
ExecStart=/bin/bash -c 'source /opt/ros/noetic/setup.bash && source /opt/tobas/setup.bash && source /etc/tobas/catkin_ws/devel/setup.bash && /opt/ros/noetic/bin/roslaunch ${TOBAS_CONFIG_PKG} nodelet_manager_high.launch'
Restart=always
RestartSec=5
CPUSchedulingPolicy=rr
CPUSchedulingPriority=90

[Install]
WantedBy=multi-user.target
