[Unit]
Description=ROS Core
Requires=networking.service
After=networking.service
PartOf=tobas_main.target

[Service]
User=pi
Type=simple
EnvironmentFile=/etc/tobas/common.env
ExecStartPre=/etc/tobas/kill_ros.sh
ExecStart=/bin/bash -c 'source /opt/ros/noetic/setup.bash && /opt/ros/noetic/bin/roscore'
ExecStopPost=/etc/tobas/kill_ros.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
