[Unit]
Description=Tobas Flight Controller
After=tobas_nodelet_managers.service
Requires=tobas_nodelet_managers.service
Conflicts=tobas_hil.service

[Service]
User=pi
Type=simple
EnvironmentFile=/etc/tobas/common.env
EnvironmentFile=/etc/tobas/config_pkg.env
ExecStartPre=/bin/bash -c '/etc/tobas/check_roscore.sh'
ExecStart=/bin/bash -c 'source /opt/ros/noetic/setup.bash && source /opt/tobas/setup.bash && source /etc/tobas/catkin_ws/devel/setup.bash && /opt/ros/noetic/bin/roslaunch ${TOBAS_CONFIG_PKG} real.launch nodelet:=true'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
