[Unit]
Description=Wait until the specified NIF comes online

[Service]
Type=oneshot
EnvironmentFile=/etc/tobas/config/project.env
ExecStart=/usr/lib/systemd/systemd-networkd-wait-online --interface=${TOBAS_NIF}:routable --ipv4 --timeout=0

[Install]
WantedBy=multi-user.target
