<launch>



  <arg name="time_name" value="time_reference_server"/>
  <arg name="cpu_name" value="cpu_handler"/>
  <arg name="imu_name" value="imu_handler"/>
  <arg name="mag_name" value="magnetometer_handler"/>
  <arg name="bar_name" value="barometer_handler"/>
  <arg name="bat_name" value="battery_handler"/>
  <arg name="rcin_name" value="rcin_handler"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" exec="nodelet" name="$(arg time_name)" args="load tobas_real_ros/TimeReferenceServerNodelet nodelet_manager_low" output="screen"/>
    <node pkg="nodelet" exec="nodelet" name="$(arg cpu_name)" args="load tobas_real_ros/CpuHandlerNodelet nodelet_manager_low" output="screen"/>
    <node pkg="nodelet" exec="nodelet" name="$(arg imu_name)" args="load tobas_real_ros/ImuHandlerNodelet nodelet_manager_high" output="screen"/>
    <node pkg="nodelet" exec="nodelet" name="$(arg mag_name)" args="load tobas_real_ros/MagnetometerHandlerNodelet nodelet_manager_medium" output="screen"/>
    <node pkg="nodelet" exec="nodelet" name="$(arg bar_name)" args="load tobas_real_ros/BarometerHandlerNodelet nodelet_manager_medium" output="screen"/>
    <node pkg="nodelet" exec="nodelet" name="$(arg bat_name)" args="load tobas_real_ros/BatteryHandlerNodelet nodelet_manager_medium" output="screen"/>
    <node pkg="nodelet" exec="nodelet" name="$(arg rcin_name)" args="load tobas_real_ros/RCInputHandlerNodelet nodelet_manager_high" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_real_ros" exec="time_reference_server_node" name="$(arg time_name)" output="screen"/>
    <node pkg="tobas_real_ros" exec="cpu_handler_node" name="$(arg cpu_name)" output="screen"/>
    <node pkg="tobas_real_ros" exec="imu_handler_node" name="$(arg imu_name)" output="screen"/>
    <node pkg="tobas_real_ros" exec="magnetometer_handler_node" name="$(arg mag_name)" output="screen"/>
    <node pkg="tobas_real_ros" exec="barometer_handler_node" name="$(arg bar_name)" output="screen"/>
    <node pkg="tobas_real_ros" exec="battery_handler_node" name="$(arg bat_name)" output="screen"/>
    <node pkg="tobas_real_ros" exec="rcin_handler_node" name="$(arg rcin_name)" output="screen"/>
  </group>

</launch>
