<launch>



  <arg name="node_name" value="latency_publisher"/>

  <node if="$(arg nodelet)" pkg="nodelet" exec="nodelet" name="$(arg node_name)" args="load tobas_latency_publisher/LatencyPublisherNodelet nodelet_manager_low" output="screen"/>
  <node unless="$(arg nodelet)" pkg="tobas_latency_publisher" exec="latency_publisher_node" name="$(arg node_name)" output="screen"/>

</launch>
