<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="latency_publisher"/>

  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_latency_publisher/LatencyPublisherNodelet nodelet_manager_low" output="screen" required="true"/>
  <node unless="$(arg nodelet)" pkg="tobas_latency_publisher" type="latency_publisher_node" name="$(arg node_name)" output="screen" required="true"/>

</launch>
