<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="latency_publisher"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_latency_publisher/LatencyPublisherNodelet nodelet_manager_slow" output="screen" required="true"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_latency_publisher" type="latency_publisher_node" name="$(arg node_name)" output="screen" required="true"/>
  </group>

</launch>
