#!/usr/bin/env python3

import math
import os.path as osp
import rospkg
from dynamic_reconfigure.parameter_generator_catkin import *


gen = ParameterGenerator()

gen.add(
    name="horizontal_position_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for horizontal position in the LQR cost function.",
    default=100,
    min=1,
    max=100,
)
gen.add(
    name="vertical_position_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for vertical position in the LQR cost function.",
    default=100,
    min=1,
    max=100,
)
gen.add(
    name="horizontal_velocity_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for horizontal velocity in the LQR cost function.",
    default=100,
    min=1,
    max=100,
)
gen.add(
    name="vertical_velocity_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for vertical velocity in the LQR cost function.",
    default=100,
    min=1,
    max=100,
)
gen.add(
    name="horizontal_accel_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for horizontal acceleration in the LQR cost function.",
    default=1,
    min=1,
    max=100,
)
gen.add(
    name="vertical_accel_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for vertical acceleration in the LQR cost function.",
    default=1,
    min=1,
    max=100,
)
gen.add(
    name="horizontal_position_integral_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for the integrated error of horizontal position in the LQR cost function.",
    default=1,  # 大きくするほど定常誤差は減るがオーバーシュートが大きくなる
    min=1,
    max=100,
)
gen.add(
    name="vertical_position_integral_weight",
    paramtype=int_t,
    level=0,
    description="Weighting factor for the integrated error of vertical position in the LQR cost function.",
    default=1,
    min=1,
    max=100,
)
gen.add(
    name="jerk_weight_log10",
    paramtype=int_t,
    level=0,
    description="Weighting factor for jerk in the LQR cost function.",
    default=0,
    min=-3,
    max=3,
)
gen.add(
    name="max_horizontal_position_integral_error",
    paramtype=double_t,
    level=0,
    description="The maximum integrated error of horizontal position.",
    default=10.0,
    min=0.0,
    max=20.0,
)
gen.add(
    name="max_vertical_position_integral_error",
    paramtype=double_t,
    level=0,
    description="The maximum integrated error of vertical position.",
    default=3.0,
    min=0.0,
    max=20.0,
)
gen.add(
    name="max_horizontal_velocity",
    paramtype=double_t,
    level=0,
    description="The maximum horizontal velocity.",
    default=10.0,
    min=3.0,
    max=20.0,
)
gen.add(
    name="max_vertical_velocity",
    paramtype=double_t,
    level=0,
    description="The maximum vertical velocity.",
    default=10.0,
    min=3.0,
    max=20.0,
)

gen.add(
    name="max_horizontal_accel",
    paramtype=double_t,
    level=0,
    description="The maximum horizontal acceleration.",
    default=10.0,
    min=1.0,
    max=15.0,
)
gen.add(
    name="max_vertical_accel",
    paramtype=double_t,
    level=0,
    description="The maximum vertical acceleration.",
    default=4.0,
    min=1.0,
    max=10.0,
)

gen.add(
    name="max_attitude",
    paramtype=double_t,
    level=0,
    description="The maximum attitude angle [rad].",
    default=math.radians(85),
    min=0.0,
    max=math.radians(85),
)
gen.add(
    name="max_heading_error",
    paramtype=double_t,
    level=0,
    description="The maximum heading angle error [rad].",
    default=math.pi,
    min=0.0,
    max=math.pi * 2,
)
gen.add(
    name="horizontal_force_compensation_rate",
    paramtype=double_t,
    level=0,
    description="Coefficient applied to the compensation term for H-force",
    default=0.0,  # 真値よりも大きな風速を推定するとオーバーシュートが発生する
    min=0.0,
    max=1.0,
)

# 姿勢制御の外乱補償用の微分先行型PDゲイン
# ArduPilotに習い，PゲインはDゲインの10倍くらいのスケールで考えると良さそう
gen.add(
    name="orientation_kp",
    paramtype=double_t,
    level=0,
    description="[Orientation Controller] The P-gain for compensating disturbances, including modeling errors.",
    default=0.0,
    min=0.0,
    max=100.0,
)
gen.add(
    name="orientation_kd",
    paramtype=double_t,
    level=0,
    description="[Orientation Controller] The D-gain for compensating disturbances, including modeling errors.",
    default=0.0,
    min=0.0,
    max=10.0,
)

gen.add(
    name="prediction_horizon",
    paramtype=double_t,
    level=0,
    description="The length of time used to predict the future behavior",
    default=1.0,
    min=0.1,
    max=3.0,
)
gen.add(
    name="prediction_steps",
    paramtype=int_t,
    level=0,
    description="The number of future states computed by the predictive model",
    default=10,
    min=1,
    max=30,
)
gen.add(
    name="attitude_decay",
    paramtype=double_t,
    level=0,
    description="Time constant of the decay of the roll angle and pitch angle error [s]",
    default=0.3,  # 0.3秒より大きくすると追従性能が足りず，また位置制御器との誤差も大きくなりすぎるかも
    min=0.1,  # 位置制御器のダイナミクスにこれの逆数が含まれるため，正の値であることを保証
    max=1.0,
)
gen.add(
    name="heading_decay",
    paramtype=double_t,
    level=0,
    description="Time constant of the decay of the yaw angle error [s]",
    default=0.0,
    min=0.0,
    max=1.0,
)
gen.add(
    name="angular_velocity_decay",
    paramtype=double_t,
    level=0,
    description="Time constant of the decay of the angular velocity error [s]",
    default=0.0,
    min=0.0,
    max=1.0,
)
gen.add(
    name="attitude_weight",
    paramtype=int_t,
    level=0,
    description="Weighting of roll angle and pitch angle",
    default=100,
    min=1,
    max=100,
)
gen.add(
    name="heading_weight",
    paramtype=int_t,
    level=0,
    description="Weighting of yaw angle",
    default=20,
    min=1,
    max=100,
)
gen.add(
    name="angular_velocity_weight",
    paramtype=int_t,
    level=0,
    description="Weighting of angular velocity",
    default=5,
    min=1,
    max=100,
)
gen.add(
    name="thrust_rate_weight_log10",
    paramtype=int_t,
    level=0,
    description="Weighting of the rate of change of thrust generated by the propellers",
    default=0,
    min=-3,
    max=3,
)

exit(
    gen.generate(
        rospkg.get_package_name(__file__),
        "tobas_mr_mpc",
        osp.splitext(osp.basename(__file__))[0],
    )
)
