[Unit]
Description=Medium Priority Component Container
PartOf=tobas_component_managers.target

[Service]
Type=simple
EnvironmentFile=/etc/tobas/config_pkg.env
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && /opt/ros/jazzy/bin/ros2 run rclcpp_components component_container_mt --ros-args -r __node:=component_manager_medium -r __ns:=/${DRONE_NAME}'
Restart=always
RestartSec=5
CPUSchedulingPolicy=rr
CPUSchedulingPriority=50

[Install]
WantedBy=multi-user.target
