[Unit]
Description=Tobas HIL
Conflicts=tobas_real.service

[Service]
User=pi
Type=simple
EnvironmentFile=/etc/tobas/config_pkg.env
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && source /opt/tobas/setup.bash && source /etc/tobas/colcon_ws/install/setup.bash && /opt/ros/jazzy/ros2cli/bin/ros2 launch ${TOBAS_CONFIG_PKG} hil.launch.xml'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
