[Unit]
Description=Tobas Realtime Process
After=hostapd.service
Requires=hostapd.service
PartOf=tobas_real.target

[Service]
Type=simple
EnvironmentFile=/etc/tobas/common.env
EnvironmentFile=/etc/tobas/config_pkg.env
Environment="ROS_AUTOMATIC_DISCOVERY_RANGE=LOCALHOST"
ExecStart=/bin/bash -c 'source /opt/ros/jazzy/setup.bash && source /opt/tobas/setup.bash && source /etc/tobas/colcon_ws/install/setup.bash && /opt/ros/jazzy/ros2cli/bin/ros2 launch ${TOBAS_CONFIG_PKG} real_realtime.launch.py'
Restart=always
RestartSec=5
CPUSchedulingPolicy=rr
CPUSchedulingPriority=90
CPUAffinity=1 2 3

[Install]
WantedBy=multi-user.target
