[Unit]
Description=FastDDS Discovery Server

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/opt/ros/jazzy/fastcdr/lib:/opt/ros/jazzy/fastrtps/lib:$LD_LIBRARY_PATH"
ExecStart=/opt/ros/jazzy/fastrtps/bin/fastdds discovery -i 0 -l 192.168.249.1 -p 11811
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
