<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="tobas_mr_lqrmpc"/>

  <group if="$(arg nodelet)">
    <node pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_mr_lqrmpc/ControllerNodelet nodelet_manager" output="screen"/>
  </group>

  <group unless="$(arg nodelet)">
    <node pkg="tobas_mr_lqrmpc" type="controller_node" name="$(arg node_name)" output="screen"/>
  </group>

</launch>
