#!/usr/bin/env python3

import os.path as osp
import rospkg
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add(
    name="TODO",
    paramtype=int_t,
    level=0,
    description="TODO",
    default=100,
    min=1,
    max=100,
)

exit(
    gen.generate(
        rospkg.get_package_name(__file__),
        "tobas_mr_arducopter",
        osp.splitext(osp.basename(__file__))[0],
    )
)
