#!/usr/bin/env python3

import os.path as osp
import rospkg
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Full Parameter List of Copter stable V4.4.1: https://ardupilot.org/copter/docs/common-transmitter-tuning.html

# ATC Parameters (AC_AttitudeControl_Multi)
gen.add(
    name="ATC_ANG_RLL_P",
    paramtype=double_t,
    level=0,
    description="Roll axis angle controller P gain. Converts the error between the desired roll angle and actual angle to a desired roll rate",
    min=3.0,
    max=12.0,
)
gen.add(
    name="ATC_ANG_PIT_P",
    paramtype=double_t,
    level=0,
    description="Pitch axis angle controller P gain. Converts the error between the desired pitch angle and actual angle to a desired pitch rate",
    min=3.0,
    max=12.0,
)
gen.add(
    name="ATC_ANG_YAW_P",
    paramtype=double_t,
    level=0,
    description="Yaw axis angle controller P gain. Converts the error between the desired yaw angle and actual angle to a desired yaw rate",
    min=3.0,
    max=12.0,
)
gen.add(
    name="ATC_RAT_RLL_P",
    paramtype=double_t,
    level=0,
    description="Roll axis rate controller P gain. Corrects in proportion to the difference between the desired roll rate vs actual roll rate",
    min=0.01,
    max=0.5,
)
gen.add(
    name="ATC_RAT_PIT_P",
    paramtype=double_t,
    level=0,
    description="Pitch axis rate controller P gain. Corrects in proportion to the difference between the desired pitch rate vs actual pitch rate output",
    min=0.01,
    max=0.5,
)
gen.add(
    name="ATC_RAT_YAW_P",
    paramtype=double_t,
    level=0,
    description="Yaw axis rate controller P gain. Corrects in proportion to the difference between the desired yaw rate vs actual yaw rate",
    min=0.1,
    max=2.5,
)
gen.add(
    name="ATC_RAT_RLL_I",
    paramtype=double_t,
    level=0,
    description="Roll axis rate controller I gain. Corrects long-term difference in desired roll rate vs actual roll rate",
    min=0.01,
    max=2.0,
)
gen.add(
    name="ATC_RAT_PIT_I",
    paramtype=double_t,
    level=0,
    description="Pitch axis rate controller I gain. Corrects long-term difference in desired pitch rate vs actual pitch rate",
    min=0.01,
    max=2.0,
)
gen.add(
    name="ATC_RAT_YAW_I",
    paramtype=double_t,
    level=0,
    description="Yaw axis rate controller I gain. Corrects long-term difference in desired yaw rate vs actual yaw rate",
    min=0.01,
    max=1.0,
)
gen.add(
    name="ATC_RAT_RLL_D",
    paramtype=double_t,
    level=0,
    description="Roll axis rate controller D gain. Compensates for short-term change in desired roll rate vs actual roll rate",
    min=0.0,
    max=0.05,
)
gen.add(
    name="ATC_RAT_PIT_D",
    paramtype=double_t,
    level=0,
    description="Pitch axis rate controller D gain. Compensates for short-term change in desired pitch rate vs actual pitch rate",
    min=0.0,
    max=0.05,
)
gen.add(
    name="ATC_RAT_YAW_D",
    paramtype=double_t,
    level=0,
    description="Yaw axis rate controller D gain. Compensates for short-term change in desired yaw rate vs actual yaw rate",
    min=0.0,
    max=0.02,
)
gen.add(
    name="ATC_RAT_RLL_FF",
    paramtype=double_t,
    level=0,
    description="Roll axis rate controller feed forward",
    min=0.0,
    max=0.5,
)
gen.add(
    name="ATC_RAT_PIT_FF",
    paramtype=double_t,
    level=0,
    description="Pitch axis rate controller feed forward",
    min=0.0,
    max=0.5,
)
gen.add(
    name="ATC_RAT_YAW_FF",
    paramtype=double_t,
    level=0,
    description="Yaw axis rate controller feed forward",
    min=0.0,
    max=0.5,
)

# PSC Parameters
gen.add(
    name="PSC_POSZ_P",
    paramtype=double_t,
    level=0,
    description="Position (vertical) controller P gain. Converts the difference between the desired altitude and actual altitude into a climb or descent rate which is passed to the throttle rate controller",
    min=1.0,
    max=3.0,
)
gen.add(
    name="PSC_VELZ_P",
    paramtype=double_t,
    level=0,
    description="Velocity (vertical) controller P gain. Converts the difference between desired vertical speed and actual speed into a desired acceleration that is passed to the throttle acceleration controller",
    min=1.0,
    max=8.0,
)
gen.add(
    name="PSC_VELZ_I",
    paramtype=double_t,
    level=0,
    description="Velocity (vertical) controller I gain. Corrects long-term difference in desired velocity to a target acceleration",
    min=0.02,
    max=1.0,
)
gen.add(
    name="PSC_VELZ_D",
    paramtype=double_t,
    level=0,
    description="Velocity (vertical) controller D gain. Corrects short-term changes in velocity",
    min=0.0,
    max=1.0,
)
gen.add(
    name="PSC_VELZ_FF",
    paramtype=double_t,
    level=0,
    description="Velocity (vertical) controller Feed Forward gain. Produces an output that is proportional to the magnitude of the target",
    min=0.0,
    max=1.0,
)
gen.add(
    name="PSC_ACCZ_P",
    paramtype=double_t,
    level=0,
    description="Acceleration (vertical) controller P gain. Converts the difference between desired vertical acceleration and actual acceleration into a motor output",
    min=0.2,
    max=1.5,
)
gen.add(
    name="PSC_ACCZ_I",
    paramtype=double_t,
    level=0,
    description="Acceleration (vertical) controller I gain. Corrects long-term difference in desired vertical acceleration and actual acceleration",
    min=0.0,
    max=3.0,
)
gen.add(
    name="PSC_ACCZ_D",
    paramtype=double_t,
    level=0,
    description="Acceleration (vertical) controller D gain. Compensates for short-term change in desired vertical acceleration vs actual acceleration",
    min=0.0,
    max=0.4,
)
gen.add(
    name="PSC_ACCZ_FF",
    paramtype=double_t,
    level=0,
    description="Acceleration (vertical) controller feed forward",
    min=0.0,
    max=0.5,
)
gen.add(
    name="PSC_POSXY_P",
    paramtype=double_t,
    level=0,
    description="Position controller P gain. Converts the distance (in the latitude direction) to the target location into a desired speed which is then passed to the loiter latitude rate controller",
    min=0.5,
    max=2.0,
)
gen.add(
    name="PSC_VELXY_P",
    paramtype=double_t,
    level=0,
    description="Velocity (horizontal) P gain. Converts the difference between desired and actual velocity to a target acceleration",
    min=0.1,
    max=6.0,
)
gen.add(
    name="PSC_VELXY_I",
    paramtype=double_t,
    level=0,
    description="Velocity (horizontal) I gain. Corrects long-term difference between desired and actual velocity to a target acceleration",
    min=0.02,
    max=1.0,
)
gen.add(
    name="PSC_VELXY_D",
    paramtype=double_t,
    level=0,
    description="Velocity (horizontal) D gain. Corrects short-term changes in velocity",
    min=0.0,
    max=1.0,
)
gen.add(
    name="PSC_VELXY_FF",
    paramtype=double_t,
    level=0,
    description="Velocity (horizontal) feed forward gain. Converts the difference between desired velocity to a target acceleration",
    min=0.0,
    max=6.0,
)

exit(
    gen.generate(
        rospkg.get_package_name(__file__),
        "tobas_mr_arducopter",
        osp.splitext(osp.basename(__file__))[0],
    )
)
