<launch>

  <arg name="nodelet" default="false"/>

  <arg name="node_name" value="property_server"/>

  <node if="$(arg nodelet)" pkg="nodelet" type="nodelet" name="$(arg node_name)" args="load tobas_property_tools/PropertyServerNodelet nodelet_manager_low" output="screen" required="true"/>
  <node unless="$(arg nodelet)" pkg="tobas_property_tools" type="property_server_node" name="$(arg node_name)" output="screen" required="true"/>

</launch>
