<launch>

  <arg name="ground_truth" default="false"/>

  <group ns="{{ drone_name }}">
    <node pkg="tobas_gui_teleop" type="gui_teleop_node.py" name="gui_teleop" output="screen">
      <remap if="$(arg ground_truth)" from="pose_twist" to="ground_truth/pose_twist"/>
    </node>
  </group>

</launch>
